{% extends "base.html" %}
{% block title %}Оформление заказа{% endblock title %}
{% block header %}Оформление заказа{% endblock header %}
{% block content %}
    <label>Дата доставки: {{ delivery_date }}</label>
<form method="post">
    {% csrf_token %}
    <ul>
        {% for product in products %}
        <li>
            <label>
                <input type="checkbox" name="products" value="{{ product.id }}">
                {{ product.name }} - {{ product.price }} руб.
            </label>
            <input type="number" name="quantity_{{ product.id }}" value="1">
        </li>
        {% endfor %}
    </ul>
    <label for="promo_code">Промокод:</label>
    <input type="text" id="promo_code" name="promo_code">
    {% if error_message %}
        <div class="alert alert-danger" role="alert">
            <font color="red">{{ error_message }}</font>
        </div>
    {% endif %}
   
<br><button type="submit">Оформить заказ</button>
</form>
{% endblock content %}